.Story {
    width: 250px;
    height: 250px;
    box-shadow: 0 1px 1px gray;
    float: left;
    margin: 1%;
    margin-bottom: 30px;
}

.Story img {
    width: 250px;
    height: 140px;
}

.description {
    margin-top: -6px;
    font-size: 0.8em;
    padding: 0 5px 0 5px;
}

.stats {
    margin-top: -5px;
}