/* nav stuff */
.link-hover{
  color: orange;
  opacity: 0.8;
}
@media (max-width: 992px) {
  .hide{
    display: none;
  }
}
@media (min-width: 768px) {
  .side-column{
    padding-top: 4rem;
  }
}
img.round-image{
  height: 75px;
  border-radius: 50%;
  width: 75px;
}
i.fas{
  font-size: 1.2em;
  transition: .5s ease;
  padding: 0.5rem;
}
.fa-crown:hover{
  color: gold;
  transition: .5s ease;
}
.checked{
  color: gold;
}
.avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.small-avatar{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.mid-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.text-large, .fa-star{
  font-size: 1.2em
}
.fa-star:hover{
  color: gold;
}
.border-2{
  border-width: 2px !important;
  border-radius: 5%;
}
.font-satisfy{ font-family: 'Satisfy', sans-serif; }
.font-raleway{ font-family: 'Raleway'}
.card-text{
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}
.bg-orange{
  background-color:orange	;
}
.jumbotron{
  background-color: #fff;
}
#add-article input[type=text]{
  width: 80%;
  border: none;
  font-weight: 400;
  font-size: 2em;
}
#add-comment input[type=text]{
  border: none;
  border-bottom: 1px solid gray;
  width: 80%;
  padding: 5px;
}
#add-comment-reply input[type=text]{
  border: none;
  border-bottom: 1px solid gray;
  width: 50%;
  padding: 5px;
}

#add-article textarea{
  height: 50rem;
  width: 100%;
  border: none;
}
.save-btn{
  background-color: #fff;
  width: 80px;
  border: 2px solid orange;
  transition: 0.1s ease;
  color: orange;
  border-radius: 5px 5px;
}
.save-btn:hover{
  cursor: pointer;
  opacity: 0.6;
}
.width-8{
  width: 70%;
}
.text-orange{
  color: orange;
}

.ave-rating{
  font-size: 150%;
  padding: 2%;
  margin: 2%;
}
.highlight-comment{
  position: absolute;
  margin-top: 25px;
  display: none;
}
.highlight:hover .highlight-comment{
  display: inline;
}
.highlight-comment textarea{
  width: 150%;
  height: 100px;
}
.highlight-comment textarea:focus{
  border: none;
}
.highlight-comments{
  margin-left: 40%;
}
.comment-container{
  width: 37%;
  margin-top: 25px;
  box-shadow: 0px 0px 2px #333;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  display: none;
}
#highlight-comments:hover + #h-comment{
  display: inline;
}
.fa-thumbs-up:hover{
  color: green;
  opacity: 0.8;
}
.fa-thumbs-down:hover{
  color: red;
  opacity: 0.8;
}
.fa-highlighter{
  font-size: 0.5em;
}
#delete:hover{
  cursor: pointer;
  color: red;
}
#toggleEdit:hover{
  cursor: pointer;
  color: orange;
}
.btn-display{
  visibility: visible;
  }
.btn-no-display{
  visibility: hidden;
}

.tagInput{
  border: 0.1px solid #999;
  padding: 9px 15px 5px 15px;
}

.react-tagsinput-tag{
  background-color: orange;
  border: none;
  color: black;

}

.article-tags{
  padding-top: 1.5rem;
}
