@import url("https://fonts.googleapis.com/css?family=Marck+Script%7CRaleway");
span {
  display: table;
}
.reset-pass {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway";
  padding-bottom: 30px;
}
.reset-pass h1 {
  padding-left: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.reset-pass input[type="text"] {
  border: none;
  border-bottom: 1px solid orange;
  width: 80%;
  padding: 10px;
  height: 0px;
  font-size: 1em;
}
.reset-pass button {
  padding: 5px;
  margin-top: 20px;
  box-shadow: 0 1px 1px #ccc;
  border: none;
  background-color: orange;
  font-size: 1.1em;
  font-family: Raleway;
  color: rgb(59, 18, 243);
}
.reset-pass .details {
  padding: 15px;
  text-align: center;
}
.reset-pass .details p {
  padding-bottom: 10px;
  text-align: justify;
}
.api_alert {
  margin-top: 5%;
}
