.Tags button {
    margin: 5px;
    padding: 7px 15px;
    width: auto;
    outline: none;
}

.Tags {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}
