.Tags button {
    margin: 5px;
    padding: 7px 15px;
    width: auto;
    outline: none;
}

.Tags {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0rem 8.5rem 0rem 8.5rem;
}
