.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 1px #ccc;
    padding: 16px;
    left: 15%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    opacity: 0.9;
    height: 600px;
    transition: 1s ease-in-out;
    overflow: scroll;
}