.footer {
    padding: 1rem;
    margin-top: 2rem;
    background-color: #e9ecef;
    position: absolute;
    width: 100%;
  }

  footer .fa{
    padding: 10px;
    margin: 15px;
    font-size: 1.5rem;
  }

  footer a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in-out;
  }
