#thumbsup:hover {
  color: green;
  cursor: pointer;
}
#thumbsdown:hover {
  color: red;
  cursor: pointer;
}

#thumbsdown, #thumbsup{
  font-size: 1.5rem;
  transition: .5s ease;
  padding: 0.2rem;
}

#thumbsup{
  margin-left: 10px;
}
