@import url('https://fonts.googleapis.com/css?family=Marck+Script|Raleway:400,900');

.App {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.App-Logo {
  font-family: "Marck Script";
  font-size: 1.2rem;
  border-right: 1px solid orange;
  padding-right: 40px;
}

.App-logo:hover {
  color: black;
  opacity: 0.8;
  cursor: pointer;
}

.logoutButton {
  float: right;
  padding-right: 10px;
}

.HR {
  width: 100%;
  margin-top: -15px;
  background-color: orange;
  opacity: 0.6;
}

.HR {
  width: 95%;
  margin-top: -10px;
  background-color: orange;
  opacity: 0.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  // text-align:center;

}

li {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  font-family: "Raleway";
}

.App li a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

.App a:hover {
  text-decoration: none;
  color: orange;
}