// .App {
//   text-align: center;
// }

@import url('https://fonts.googleapis.com/css?family=Marck+Script|Raleway');

.App-logo {
  font-family: "Marck Script";
  font-size: 1.3rem;
  font-weight: bolder;
  border-right: 1px solid orange;
  padding-right: 40px;
}

.HR {
  width: 98.5%;
  margin-top: -15px;
  background-color: orange;
  opacity: 0.6;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  // text-align:center;

}

li {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  font-family: "Raleway";
}

.App li a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

.App a:hover {
  text-decoration: none;
  color: orange;
}