.active-nav{
    border-bottom: 1.5px solid orange;
    border-radius: 3px
}

.Stories li{
    width: 70px;
    margin: 0 5% 0 5%;
}

.all-stories{
    width: 100%;
    height: auto;
    padding-top: 20px;  
}

.sticky nav{
    position: sticky;
}

// TODO: Add media queries for stories
@media (min-width: 1000px){

}